// https://material.io/design/color/dark-theme.html#ui-application

$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac6;
$background: #121212;
$surface: #121212;
$error: #cf6679;
$white: #fff;
$primary-white: #e0dfdf;
$primary-near-white: #ccc;
$primary-very-light-grey: #aaa;
$primary-light-grey: #3b3b3b;
$primary-grey: #333333;
$primary-dark-grey: #222222;
$black: #000;
